/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
}

h1,
h2 {
	font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Lora', serif;
}

.logo {
	width: 170px;
}

.paticka {
	background-color: #303339;
	color: white;
	margin-bottom: 0;
	padding: 30px;
	text-align: center;
}

.paticka p {
	margin: 0;
}

.hlavicka {
	margin: 30px 0;
	display: flex;
	justify-content: space-between;
}

.menu li {
	display: inline-block;
	margin-left: 10px;
}

.menu {
	padding: 0;
}

.tlacitko {
	text-decoration: none;
	color: black;
	/* border: 1px solid black; */
	padding: 10px 15px;
}

.tlacitko:hover {
	background-color: #f195b2;
	color: white;
	border-radius: 20px;
	padding: 10px 15px;
}

.uvod {
	background-image: url(images/cupcake.jpg);
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	padding-right: 40%;
}

.uvod h1 {
	font-size: 52px;
}

.uvod p {
	font-style: italic;
	font-size: 24px;
}

.vitejte-v-cukrarne {
	display: flex;
}

.vyrobky {
	text-decoration: none;
	padding: 15px 40px;
	background-color: #f195b2;
	border-radius: 30px;
}