/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0;
}

.sekce {
	padding: 80px 0;
}

h1 {
	font-size: 51px;
}

h2 {
	font-size: 36px;
	color: #3e606b;
}

h3 {
	color: #3e606b;
}

h1,
h2 {
	font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Lora', serif;
}

img {
	border-radius: 5px;
}

.logo {
	width: 170px;
}

.paticka {
	background-color: #303339;
	color: white;
	margin-bottom: 0;
	padding: 30px;
	text-align: center;
}

.paticka p {
	margin: 0;
}

.hlavicka {
	margin: 30px 0;
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.menu li {
	display: inline-block;
	margin-left: 10px;
}

.menu {
	padding: 0;
}

.tlacitko {
	text-decoration: none;
	color: black;
	padding: 10px 15px;
}

.tlacitko:hover {
	background-color: #f195b2;
	color: white;
	border-radius: 20px;
	padding: 10px 15px;
}

.uvod {
	background-image: url(images/cupcake.jpg);
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	/* padding: 80px 0; */
}

.uvod-obsah {
	padding-right: 40%;
	max-width: 1100px;
	margin: 0;
	margin-left: auto;	/* toto musí být pod "margin: 0; jelikož ten by nám ty "auto" přebyl*/
	margin-right: auto; /* toto musí být pod "margin: 0; jelikož ten by nám ty "auto" přebyl*/
}

.uvod p {
	font-style: italic;
	font-size: 24px;
}

/* .vitejte-v-cukrarne {
	padding: 80px 0;
} */

.vitejte-obsah {
	max-width: 1100px;
	display: flex;
	margin-right: auto;
	margin-left: auto;
}

.vitejte-levy {
	margin-right: 30px;
}

.vyrobky {
	text-decoration: none;
	padding: 15px 40px;
	background-color: #f195b2;
	border-radius: 30px;
	display: inline-block;
	color: white;
}

.vyrobky:hover {
	background-color: #d2567d;
}

.dnesni-nabidka {
	background-color: #f0f0f0;
}

.nabidka-div {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.nabidka-obsah {
	display: flex;
}

.produkt {
	background-color: white;
	text-align: center;
	flex-basis: calc((100% - 90px) / 4);
	justify-content: space-between;
	border-radius: 5px;
}

.produkt h3,
.produkt p {
	margin: 20px;
}

.produkt p {
	margin-top: 0;
}
.obrazek {
	width: 100%;
}

.pristup-kontejner {
	display: flex;
	max-width: 1100px;
	margin: 0 auto;
	justify-content: space-between;
}

.pristup {
	flex: 0 1 calc((100% - 30px) /2);
}

.pristup-levy img {
	width: 100%;
}